{% extends "base.html" %}

{% block content %}

<div class="shop">
	<div class="tile is-ancestor" style="flex-wrap: wrap; justify-content: space-around;">
    {% for article in articles %}
    <a href="{{ SITEURL }}/{{ article.url }}">
		<div class="tile  is-vertical is-parent" style="max-width: 200px; word-wrap: break-word;">
		<div class="tile is-child">
			<figure class="image is-2by3">
				<img src="{{ article.thumbnail }}" alt="{{article.title}}"/>
			</figure>
		</div>
		<div class="is-child has-text-centered">
			<p class="title is-6">{{ article.title }}</p>
			<p class="has-text-centered">${{ article.price }}</p>
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="{{ article.paypal }}">
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
		</div>
	</div>
	</a>
    {% endfor %}
	</div>
</div>
{% endblock content %}

